.solar-yellow, .solar-a1 {
  color: #b58900; }

.solar-bg-yellow, .solar-bg-a1 {
  background-color: #b58900; }

.solar-orange, .solar-a2 {
  color: #cb4b16; }

.solar-bg-orange, .solar-bg-a2 {
  background-color: #cb4b16; }

.solar-red, .solar-a3 {
  color: #dc322f; }

.solar-bg-red, .solar-bg-a3 {
  background-color: #dc322f; }

.solar-magenta, .solar-a4 {
  color: #d33682; }

.solar-bg-magenta, .solar-bg-a4 {
  background-color: #d33682; }

.solar-violet, .solar-a5 {
  color: #6c71c4; }

.solar-bg-violet, .solar-bg-a5 {
  background-color: #6c71c4; }

.solar-blue, .solar-a6 {
  color: #268bd2; }

.solar-bg-blue, .solar-bg-a6 {
  background-color: #268bd2; }

.solar-cyan, .solar-a7 {
  color: #2aa198; }

.solar-bg-cyan, .solar-bg-a7 {
  background-color: #2aa198; }

.solar-green, .solar-a8 {
  color: #859900; }

.solar-bg-green, .solar-bg-a8 {
  background-color: #859900; }

.solar-03, .solar-b1 {
  color: #002b36; }

.solar-bg-03, .solar-bg-b1 {
  background-color: #002b36; }

.solar-02, .solar-b2 {
  color: #073642; }

.solar-bg-02, .solar-bg-b2 {
  background-color: #073642; }

.solar-01, .solar-b3 {
  color: #586e75; }

.solar-bg-01, .solar-bg-b3 {
  background-color: #586e75; }

.solar-00, .solar-b4 {
  color: #657b83; }

.solar-bg-00, .solar-bg-b4 {
  background-color: #657b83; }

.solar-0, .solar-b5 {
  color: #839496; }

.solar-bg-0, .solar-bg-b5 {
  background-color: #839496; }

.solar-1, .solar-b6 {
  color: #93a1a1; }

.solar-bg-1, .solar-bg-b6 {
  background-color: #93a1a1; }

.solar-2, .solar-b7 {
  color: #eee8d5; }

.solar-bg-2, .solar-bg-b7 {
  background-color: #eee8d5; }

.solar-3, .solar-b8 {
  color: #fdf6e3; }

.solar-bg-3, .solar-bg-b8 {
  background-color: #fdf6e3; }
